* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
/* -------------------------------------- */

.box-2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  font-family: 'Overpass', sans-serif;
  width: 20rem;
  height: auto;
  color: white;
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 1rem;
}
button ::first-child {
  margin-left: 3rem;
}

.btn {
  margin: 0.5rem !important;
  border-radius: 100%;
  width: 2.9rem;
  height: 2.9rem;
  border: none;
}
.bg-color {
  background-color: hsl(213, 21%, 22%);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin: 0.8rem 1rem 1.5rem;
}

.feedback__rating-button {
  position: relative;
}
.radiobtn {
  appearance: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(213, 21%, 22%);
  cursor: pointer;
}
.radioValue {
  cursor: pointer;
  position: absolute;
  top: 32%;
  left: 1.5rem;
  font-size: 1rem;
  color: hsl(217, 12%, 63%);
  display: inline;
}

.radiobtn:hover {
  background-color: hsl(25, 97%, 53%);
}

.radiobtn:hover + label,
.radiobtn:checked + label {
  color: white;
}
.radiobtn:checked {
  background-color: hsl(217, 12%, 63%);
}
.feedback__values {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

/* -------------------------------------------------------- */

.submit {
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  background-color: hsl(25, 97%, 53%);
  width: 92%;
  display: block;
  border-radius: 30px;
  border: none;
  padding: 0.9rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.2rem;
}

.margin {
  margin: 1rem;
}
.margin-p {
  margin: 0 1rem;
}

p {
  font-weight: 400;
  font-size: 0.8rem;
  color: hsl(217, 12%, 63%);
  line-height: 1.3rem;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

/* part-2 of box-1 */
.part-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.roundbtn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

/* design for box-2 after clicking submit button */

.selected {
  background-color: hsl(217, 13%, 28%);
  padding: 0.5rem 1rem;
  border-radius: 14px;
  font-size: 0.7rem;
  color: hsl(25, 97%, 53%);
}
.thank {
  font-size: 1.3rem;
}

.attribution {
  margin-top: 2rem;
  color: white;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 540px) {
  .box {
    width: 18rem;
  }
  .radioValue {
    cursor: pointer;
    position: absolute;
    top: 32%;
    left: 1.5rem;
    font-size: 0.9rem;
    color: hsl(217, 12%, 63%);
    display: inline;
  }
}
